@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c&display=swap');

body{
  /*font-family: Noto Sans Japanese;*/
  font-family: 'M PLUS Rounded 1c', sans-serif;
  color: #444444;
  background-color: #f5f8fa;
}

nav{
  /*background-color: #9cada1;*/
  background: linear-gradient(to right, #444444 8%, #9cada1 20%);
  height: 130px;
  padding: 2px;
}

span.title_logo{
  display: inline-block;
  background-color: #000000;
  font-weight: bold;
  width: 20px;
  padding-left: 3px;
  margin-right: 5px;
}
#main_image{
  width: 90vw;
}